// _base.scss
@use 'variables' as *;

body {
    font-family: Arial, sans-serif; /* Tipo de letra */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    height: 50px; /* Ajusta la altura según tus necesidades */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
}

h1 {
    color: #333;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}


label {
    display: block;
    margin: 10px 0 5px;
}

// base.scss

body {
    font-family: $font-family;
    background-color: $background-color;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: $primary-color;
}

