// _variables.scss
$background-color: #f4f4f4;
$header-bg-color: #333;
$header-text-color: #fff;
$border-color: #ccc;
$submit-bg-color: #333;
$submit-hover-bg-color: #555;
$footer-bg-color: #333;
$footer-text-color: #fff;
